<!DOCTYPE html>
<html>
<head>
	<title>2048 VS AI</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}"/>
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<div id='header'>
		<p id='user'>{{ user }}</p>
		<a href='/ai/{{user}}'><div id='ai-link' class='header-link'>Watch</div></a>
		<a href='/self/{{user}}'><div id='self-link' class='header-link'>Play</div></a>
		<a href='/vs_ai/{{user}}'><div id='vs_ai-link' class='header-link'>Compete</div></a>
		<p id='title'>2048 AI</p>
		<a href='/about/{{user}}'><div id='about' class='header-link'>About</div></a>
	</div>
</body>
</html>