<!DOCTYPE html>
<html>
<head>
	<title>2048 VS AI</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}"/>
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vs_move_script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<div id='header'>
		<p id='user'>{{ user }}</p>
		<a href='/ai/{{user}}'><div id='ai-link' class='header-link'>Watch</div></a>
		<a href='/self/{{user}}'><div id='self-link' class='header-link'>Play</div></a>
		<a href='/vs_ai/{{user}}'><div id='vs_ai-link' class='header-link'>Compete</div></a>
		<p id='title'>2048 AI</p>
		<a href='/about/{{user}}'><div id='about' class='header-link'>About</div></a>
	</div>
	<div id='games-container'>
		<div id='human-game-container'>
			{% for tile in all_possible_tiles %}
				<div class='row{{ tile.row }}vs column{{ tile.column }}vs background-tile-vs'></div>
			{% endfor %}
			<span id='self-pieces'>
				{% for tile in model.tiles %}
					<div class='row{{ tile.row }}vs column{{ tile.column }}vs tile-vs' style='background-color: {{tile.color}}'>{{ tile.value }}</div>
				{% endfor %}
			</span>
		</div>
		<div id='options-container-vs'>
			<div class='options-vs clickable' id='reset-model'>Reset</div>
			<div id='speed-container-vs'>
				<div id='reset' class='options-vs'>Set AI speed</div>
				<div class='options-vs speed-set-vs clickable' id='super-slow'><p class='inner-speed'>Super Slow<p></div>
				<div class='options-vs speed-set-vs clickable' id='slow'><p class='inner-speed'>Slow<p></div>
				<div class='options-vs speed-set-vs clickable' id='mid'><p class='inner-speed'>Mid<p></div>
				<div class='options-vs speed-set-vs clickable' id='fast'><p class='inner-speed'>Fast<p></div>
				<div class='options-vs speed-set-vs clickable' id='super-fast'><p class='inner-speed'>Super Fast<p></div>
			</div>
		</div>
		<div id='ai-game-container'>
			{% for tile in all_possible_tiles %}
				<div class='row{{ tile.row }}vs column{{ tile.column }}vs background-tile-vs'></div>
			{% endfor %}
			<span id='ai-pieces'>
				{% for tile in aimodel.tiles %}
					<div class='row{{ tile.row }}vs column{{ tile.column }}vs tile-vs' style='background-color: {{tile.color}}'>{{ tile.value }}</div>
				{% endfor %}
			</span>
		</div>
	</div>
</body>
</html>